* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  scroll-behavior: initial;
  overflow-x: hidden;
  background: url("https://drive.google.com/uc?id=1AzuVM-676NYLrGdZfdn2YwRMtD4yvTmO")
    center center fixed;
  /* background-size: cover; */
}

#logo img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

/* CSS VARIABLE */

:root {
  --navbar-height: 59px;
}

#navbar {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

#logo {
  margin: 10px 34px;
  /* height: 45px; */
}

#navbar ul {
  display: flex;
  margin: 0 70px;
}

#navbar ul li {
  /* color: white; */
  list-style: none;
  font-weight: bold;
  /* font-size: 1.3rem; */
  margin: 0 10px;
}

#navbar ul li a {
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#navbar ul li a:hover {
  color: black;
  background: white;
}
#home-nav a:nth-child(1) {
  background: white;
  color: black;
}

#navbar::before {
  content: "";
  /* background-color: black; */
  background: linear-gradient(
    to top,
    rgba(81, 80, 80, 0),
    rgba(0, 0, 0, 0.69),
    rgb(0, 0, 0)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity: ; */
}

#home {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  /* height: 590px; */
  /* height: 420px; */
  height: 520px;
}

#home p {
  color: white;
  text-align: left;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

#home::before {
  content: "";
  position: absolute;
  background: url("https://drive.google.com/uc?id=1n7nT42459nqkw2CJ2R1rhSJN-SPV1SP7")
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.78;
  height: 600px;
}

/* services */

#services {
  margin: 0 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services .box {
  /* border: 2px solid red; */
  /* padding: 30px; */
  margin: 3px 10px;
  /* border-radius: 28px; */
  /* background-color: aliceblue; */
}

#services .box img {
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 30px;
  border-radius: 100%;
}
#services .box p {
  font-size: 0.2em;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  font-weight: bold;
}
.box h2 {
  color: red;
  font-size: 20px;
  /* position: relative; */
  /* top: -80px; */
}
.services-container {
  margin: 85px 0;
}

/* client section */
#clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("") no-repeat center center / cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

#client-section {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  margin: 40px auto;
}

.client-item {
  padding: 28px;
}

.client-item img {
  height: 124px;
  width: 124px;
  border-radius: 100%;
}

/* contact section */
#contact {
  position: relative;
  display: flex;
  border-top: 4px solid red;
  padding: 10px 10px;
}
#contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000000 no-repeat center center/cover;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 5px;
  font-size: 1.2rem;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
/* footer */

footer {
  background: black;
  color: white;
  padding: 30px 0px;
}

/* utility classes */
#home h1 {
  color: white;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

.h-primary {
  font-size: 3.8rem;
  padding: 12px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.secondary {
  font-size: 10px;
  padding: 12px;
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.btn {
  margin: 20px;
  /* border: 3px solid red; */
  outline: none;
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
  background: none;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
}

.btn:hover {
  background-color: rgba(240, 248, 255, 0.383);
  color: black;
  border-color: black;
}

.white {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.center {
  text-align: center;
}

/* modification of imagw */

.h-primary img {
  height: 7em;
  width: 7em;
  /* margin: 64px; */
}

.gdc {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

#logo h1 {
  color: white;
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center;
}

.navbar ul li a {
  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 1px;
  color: rgba(219, 215, 215, 0.564);
  font-size: larger;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  /* background: #0f1434; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(
    to top,
    rgba(81, 80, 80, 0),
    rgba(0, 0, 0, 0.69),
    rgb(0, 0, 0)
  );
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
ul {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
ul li {
  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 1px;
  color: rgba(219, 215, 215, 0.564);
  font-size: larger;
}
ul li a:hover {
  color: white;
}

#client-section p {
  color: white;
  width: 60%;
  margin: 0 auto;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
}
.left {
  width: 50%;
  padding: 10px 30px;
}
.left h1 {
  color: rgb(255, 0, 0);
  margin: 15px 0;
}

.left img {
  height: 100px;
  width: 100px;
}

/* .left p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 66%;
} */

.right h1 {
  color: white;
  font-family: monospace;
}

.c1 {
  display: flex;
  justify-content: space-between;
}
.c2 {
  margin: 20px 0;
}
.c4 {
  display: flex;
}
.c4 p {
  width: 50%;
}

.nav_rules_ {
  color: white;
  background: #000000;
  position: absolute;
  top: 10em;
  width: 48em;
  padding: 20px;
  border-radius: 25px 2px 2px 25px;
  border: 2px solid red;
  transform: translateY(-34em);
  transition: all 0.4s;
  overflow-y: scroll;
  height: 20em;
  margin: auto;
}
.nav_rules_ ul li {
  color: white;
  list-style: disc;
}

.nav_rules_ button {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 5px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.2s;
}
.phone_rul {
  display: none;
}

.nav_rules_ button:hover {
  background-color: white;
  color: black;
}
.nav_rules_visible {
  display: block;
  transform: translateY(1em);
}
/* .container{
  display: flex;
} */

/* *********************** hamburger **************************************** */

.hamburger {
  display: none;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  /* color: white; */
}
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: #eeeeee;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;

  transition: 0.4s;
}
/* .hamburger{
    visibility: hidden;
} */

/* .hamburger:hover span:nth-child(2) {
  transform: translatex(10px);
  /* background-color: #8c38ff; */
/* }  */
.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translate(15px);
}
.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
#register {
  color: white;
  background: none;
  border-radius: 20px;
  width: 220px;
  height: 65px;
  font-size: 37px;
  letter-spacing: -1px;
  font-family: monospace;
  border: solid red;
  margin: 50px 0px;
}

#register:hover {
  background: rgb(255, 0, 0);
  /* color:black; */
}

/*preloader*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.preloader.fade-out {
  opacity: 0;
}

.loading-text {
  color: #ff0000;
  font-size: 32px;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5),
    0 0 30px rgba(255, 0, 0, 0.3);
  animation: glow-animation 0.5s ease-in-out infinite alternate;
}

@keyframes glow-animation {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5),
      0 0 30px rgba(255, 0, 0, 0.3);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(255, 0, 0, 0.5),
      0 0 60px rgba(255, 0, 0, 0.3);
  }
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.preloader.fade-out + .content {
  opacity: 1;
}

.glitch-text {
  /* font-size: 48px; */
  font-weight: bold;
  /* text-shadow: red 6px 6px 5px, cyan 2px 4px 2px; */
  animation: glitch-anim 0.01s linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    text-shadow: red 0px 0px 5px, cyan 0px 0px 5px;
    transform: translateY(5px);
  }
  100% {
    text-shadow: red 40px 15px 5px, cyan 40px 0px 5px;
    transform: translateY(-5px);
  }
}
